<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="js/SearchDetail.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/t/bs-3.3.6/jqc-1.12.0,dt-1.10.11/datatables.min.css"/>
    <script src="https://cdn.datatables.net/t/bs-3.3.6/jqc-1.12.0,dt-1.10.11/datatables.min.js"></script>



<head>
<link rel="stylesheet" type="text/css" href="ExternalStyleSheet.css" />
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
    <div><form id="detailForm" action="/edit">
	    <h1>詳細画面</h1>
	    <div id="searchDetail">
	    	<span id="id">id=<font th:text="${DetailForm.id}"></font></span><br>
	        <span>名前=<font th:text="${DetailForm.username}"></font></span><br>
	        <span>性別=<font th:text="${DetailForm.sex}"></font></span><br>
	        <span>age=<font  th:text="${DetailForm.age}"></font></span><br>
	        <span>area=<font th:text="${DetailForm.area}"></font></span><br>
	        <span>usertype=<font  th:text="${DetailForm.usertype}"></font></span><br>


	    </div><br><br><br><br>
	    <div id="detailMoneyTable">詳細金額表
	        <table>
	            <thead>
	                <th>収入</th>
	                <th>借金</th>
	                <th>食事代</th>
	            </thead>
	            <tbody>
	                <td>100</td>
	                <td>100</td>
	                <td>100</td>
	            </tbody>
	            </table>
	    </div><br><br>
	    <button id="backButton">戻る</button>
	    <input type="submit" id="edit" value="編集" />
    </form></div>
</body>
</html>