<!DOCTYPE html>		<!--  html 5 声明 -->
<html xmlns:th="http://www.thymeleaf.org">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="js/SearchHeader.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/t/bs-3.3.6/jqc-1.12.0,dt-1.10.11/datatables.min.css"/>
    <script src="https://cdn.datatables.net/t/bs-3.3.6/jqc-1.12.0,dt-1.10.11/datatables.min.js"></script>

<head>
<link  rel="stylesheet"  type="text/css"  href="ExternalStyleSheet.css" />

<meta charset="UTF-8">  <!--  解码  -->

<!--
<style type="text/css">
   table, th, td { border: solid 1px #080808; }
   #searchResult:{border: solid 1px;}
</style>
-->

<title>index</title>        <!--  标题  -->
</head>

<div id="hiddenArea" hidden="true" >    <!--  区域  -->
    <ul>	  <!--  分条写  -->
        <li id="initFlag" th:value="${SearchScreenForm.initFlag}" th:text="${SearchScreenForm.initFlag}">    <!--  分条写  -->
    </ul>
</div>

<body>
    <h3 th:text="#{message.index.headerName}"></h3>     <!--  heading  -->
    <div class="formclass">		<!--  属性：类名  -->

        <form name="searchConditon" action="/search">  <!--  表单  action 向何处传表单  -->
            <input type="text" name="name">検索条件<br>  <!--  接受入力内容 -->
            <input type="checkbox" name="type" th:value="动物">動物含む<br>
            <div>
                <li> <input type="radio" name="sex" th:value="男" checked="checked">男 </li>
                <li> <input type="radio" name="sex" th:value="女" >女 </li>
            </div><br>
            <select name="area">   <!--  下拉菜单 -->
                <option th:each="province : ${SearchScreenForm.provinceList}" th:value="${province}" th:text="${province}"
                th:selected="${SearchScreenForm.area}==${province}?true:false">
            </select>
            <input type="submit" value="検索">   <!--  提交表单 -->
        </form>

    </div>
    <br><br>  <!--  换行 -->


    <div id="searchResult"><h2>検索結果</h2>
    <br><br>
    <div>
        <form action="/download" method="post">
            <input type="submit" id="csvDownload" value="download" >    <!--  id地址  value用户传值 name 名称 -->
        </form>
    </div>
        <table class="searchResultTable" id="searchResultTable">
            <thead>
                <tr>
                <th th:text="#{message.index.tableheader1}"></th>
                <th th:text="#{message.index.tableheader2}"></th>
                <th th:text="#{message.index.tableheader3}"></th>
                <th th:text="#{message.index.tableheader4}"></th>
                <th th:text="#{message.index.tableheader5}"></th>
                <th th:text="#{message.index.tableheader6}"></th>
                <th th:text="#{message.index.tableheader7}"></th>
                <th th:text="#{message.index.tableheader8}"></th>
            </thead>
            <tbody>
                <tr th:each="tableRow : ${SearchScreenForm.searchScreenTables}">    <!-- 遍历 -->
                    <td > <a th:href="@{/detail(id=${tableRow.id})}" th:text="${tableRow.id}"  th:value="${tableRow.id}"></a></td>  <!-- 超级链接 -->
                    <td th:text="${tableRow.username}"></td>
                    <td th:text="${tableRow.sex}"></td>
                    <td th:text="${tableRow.age}"></td>
                    <td th:text="${tableRow.area}"></td>
                    <td th:text="${tableRow.usertype}"></td>
                    <td th:text="${tableRow.money}"></td>
                    <td th:text="${tableRow.userdate}"></td>
                </tr>
            </tbody>
        </table>
    </div>
  </div>
</body>
</html>